<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastro</title>
    <meta charset="utf-8">
    
  </head>
  <body >
    <div class="login-box" > 
      <form > 
          <h1> Cadastre-se </h1>
          <hr>
      </form>
      <br>
  <input type="text" name="" placeholder="Nome">
     
  <input type="text" name="" placeholder="Sobrenome"> 
  <div>
    <input type="email" name="email"  placeholder="email" required>
</div>
  
  <input type="password" name="" placeholder="Senha" >

  <input type="password" name="" placeholder="Confirmar senha" >
 
<!-- onkeypress="return event.charCode >= 48 && event.charCode <= 57" é usado para aceitar apenas retornos com numéros-->
<!--maxlength="11" é pra limitar a quantidade de numeros-->
  <input type="text"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="11" name="" placeholder="(00)00000-0000" >

   <input type="text" name="" placeholder="Cidade" >
 
   <input type="text" name="" placeholder="Estado" >
 
   <input type="text" name="" placeholder="Bairro">
 
   <input type="submit" name="" value="Criar"  class="b">

 
  </div>
  <!-- foto do totó
 <img src="https://4.bp.blogspot.com/-E6lBlT-vqls/VzNBXe9qa7I/AAAAAAAABNU/JVFEfsS4Bm4UZ5hA9dBA_tCMQUk7uFWlQCLcB/s1600/procura-se.png" >
--> 
</body>
</html>