<!DOCTYPE html>
<html>
   
<head>
 <title>FindPet</title>
</head>
 
<body class="fundo">
 
    <div class="logobox">
       <h1>Cadastro</h1>
   <form>
       <p> Nome</p>
       <input type="text" name="" placeholder="Nome" class="inputtp"[(ngModel)]="userCadastro.nome" name="nome" required>
       <p> Sobrenome</p>
       <input type="text" name="" placeholder="Sobrenome" class="inputtp"[(ngModel)]="userCadastro.sobrenome" name="sobrenome" required>
       <p> E-mail</p>
       <input type="text" name="" placeholder="E-mail" class="inputtp" [(ngModel)]="userCadastro.email" name="email" required email>
        <p> Senha  </p>
       <input type="password" name="" placeholder="Senha" class="inputtp" [(ngModel)]="userCadastro.senha" name="password" required>
       <p> Confirmar senha  </p>
       <input type="password" name="" placeholder="Confirmar senha" class="inputtp" [(ngModel)]="userCadastro.senha" name="password" required>
       <p> Telefone  </p>
       <input type="text" name="" placeholder="(00)00000-0000" class="inputtp" [(ngModel)]="userCadastro.telefone" name="telefone" required>
       <p> Estado </p>
       <input type="text" name="" placeholder="Cidade" class="inputtp" [(ngModel)]="userCadastro.cidade" name="cidade" required>
       <p> Cidade  </p>
       <input type="text" name="" placeholder="Cidade" class="inputtp" [(ngModel)]="userCadastro.cidade" name="cidade" required>
       <p> Bairro  </p>
       <input type="text" name="" placeholder="Bairro" class="inputtp" [(ngModel)]="userCadastro.bairro" name="bairro" required>
       
       <input type="submit" name="" value="Cadastrar"  class="inputs">
       <ul>
       <a href="a"> Já tenho uma conta!
           <link> Entrar <link>
       </a>
    </ul>

   </form>
   </div>
   
  </body>
</html>
