<html>
  <head>
    <title>Perfil</title>
  </head>
  <!--
  <div> 
    <ul class="id">
        <li class="posicao1"><img src="https://i.ibb.co/fn1Ks9G/1615403008507.png" class="imglogo"></li>
        <li class="posicao2">FindPet</li>
        <li><a routerLink="/ajuda">Ajuda</a>
        <li><a routerLink="/sobre-nos">Sobre Nós</a>
    </ul>
</div>
-->
  <body>
  
       <p>{{ usuario.id }}</p> 
          <p>Telefone: {{usuario.telefone}}</p>
          <p>Estado: {{usuario.estado}}</p>
          <p>Cidade: {{usuario.idade}}</p>
  </body>

</html>