<!DOCTYPE html>
<html>
   
<head>
 <title>FindPet</title>
</head>
 
<body class="fundo">
    <div class="loginbox">
       <h1>Login</h1>
   <form> 
       <input type="text" name="" placeholder="E-mail@findpet.com" class="inputtp">
       <input type="password" name="" placeholder="Senha" class="inputtp">
       <input type="submit" name="" value="Entrar"  class="b">
       <a routerLink="/recuperar-senha" >Esqueci minha senha |</a>
       <a routerLink="/cadastro" >Não tem uma conta? Criar conta</a>

   </form>
   </div>

  </body>
</html>
