<!DOCTYPE html>
<html>
   
<head>
 <title>FindPet</title>
</head>
 
<ul>
    <ul><a routerLink="/home">FindPet</a></ul>
    <ul><a routerLink="/feed">Feed</a></ul>
    <ul><a routerLink="/sobrenos">Sobre Nós</a></ul>
    
  </ul>

<body class="fundo">

    <div class="loginbox">
       <h1>Login</h1>
   <form> 
       <p> E-mail</p>
       <input type="text" name="" placeholder="Usuario" class="inputtp" [(ngModel)]="userLogin.email" name="email" required email>
       <p> Senha  </p>
       <input type="password" name="" placeholder="Senha" class="inputtp"[(ngModel)]="userLogin.senha" name="password" required>
       <input type="submit" name="" value="Login"  class="inputs">
      <ul>
       <a href="a"> Esqueci minha senha   |</a>
       <a href="a"> Não tenho uma conta </a>
    </ul>

   </form>
   </div>
  </body>
</html>


