*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    color: black;
}
body{
font-family: Arial, Helvetica, sans-serif;

}
ul{
    
    top: 60px;
    position: absolute;
    width: 100%;
}
img{
    width: 20px;

}

input[type="checkbox"] {
    display: none;
}
nav{
    background-color: #a7a7b1 ;
    
    width: 350px;
    height: 690px;
    left: -350px;
    position: fixed;
    transition: all .5s;
    
}
input[type="checkbox"]:checked ~ nav {
 transform: translateX(350px);
}
a{
    display: block;
    padding: 20px 5px;
   color: white;
}
a:hover{
    background-color: #6559a3;
    color: white;
}
label{
    
    padding: 15px;
    position: absolute;
    z-index: 1;
}
/*menu vertical*/
