*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    color: black;
}

ul{
    
    top: 60px;
    position: absolute;
    width: 100%;
}
img{
    width: 20px;

}

input[type="checkbox"] {
    display: none;
}
nav{
    background-color: #a7a7b1 ;
    
    width: 350px;
    height: 690px;
    left: -350px;
    position: fixed;
    transition: all .5s;
    
}
input[type="checkbox"]:checked ~ nav {
 transform: translateX(350px);
}
a{
    display: block;
    padding: 20px 5px;
   color: white;
}
a:hover{
    background-color: #6559a3;
    color: white;
}
label{
    
    padding: 15px;
    position: absolute;
    z-index: 1;
}
/*menu vertical*/
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(39, 39, 39);
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family:Arial, Helvetica, sans-serif;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-family:Arial, Helvetica, sans-serif;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin:  20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #6559a3 ;
  background: transparent;
  color:#6559a3  ;
  
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
    background: #6559a3;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
   border: none;
   color: white;
}
/*organização dos botões e os nomes principais*/