<!DOCTYPE html>
<html>
<head>
 <title>FindPet</title>
</head>
<body>
    
<div>
    <ul class="id">
        <li><img src="https://i.pinimg.com/originals/e6/bf/1b/e6bf1b3c8fa76e051053cec3efff2b61.jpg" width="50px"></li>
        <li><a>FindPet</a></li>
        <li><a routerLink="/feed">Página inicial</a>
        <li><a routerLink="/sobre-nos">Sobre Nós</a>
        <li><a routerLink="/perfil">Perfil</a>
    </ul>
</div>
    <div class="sobre">
        <h1>FindPet</h1>


    </div>
    <div class="button">
        <a routerLink="/login" class="btn1"> Entrar </a>
        <br><br><br>
        <a routerLink="/cadastro" class="btn">Criar conta</a>
    </div>

</body>
</html>
