<!DOCTYPE html>
<html>
<head>
 <title>FindPet</title>
</head>
<body>
    
<div> 
    <!--barra de navegação-->
    <ul class="id">
        <li class="posicao1"><img src="https://i.ibb.co/fn1Ks9G/1615403008507.png" class="imglogo"></li>
        <li class="posicao2">FindPet</li>
        <li><a routerLink="/ajuda">Ajuda</a>
        <li><a routerLink="/sobre-nos">Sobre Nós</a>
    </ul>
</div>
    <div class="sobre">
        <h1>Find </h1>
           <h1>Pet</h1>
           <h2> Ajude uma patinha a encontrar o seu lar com o FindPet</h2>
    </div>

    <div class="button">
       <div class="entrar"> <a routerLink="/login" class="btn1"> Entrar </a></div>
        <br><br><br> 
        <br><br><br>
        <div class="criar"><a routerLink="/cadastro" class="btn">Criar conta</a> </div>
    </div>
    <div> <img class="img" src="https://i.ibb.co/nMKdWZk/1615384272128.png"> </div>
    
</body>
</html>