<!DOCTYPE html>
<html>
<head>
 <title>FindPet</title>
</head>
<body>
    
<div>
    <ul class="id">
        
        <li><a>FindPet</a></li>
        <li><a routerLink="/feed">Página inicial</a>
        <li><a routerLink="/sobre-nos">Sobre Nós</a>
        <li><a routerLink="/perfil">Perfil</a>
    </ul>
</div>
    <div class="sobre">
        <h1>Find </h1>
           <h1>Pet</h1>

<h2> Ajude uma patinha a encontrar o seu lar com o FindPet</h2>
    </div>

    
    <div class="button">
        <a routerLink="/login" class="btn1"> Entrar </a> 
        <a routerLink="/cadastro" class="btn"> Criar conta </a>
    </div>
    

    <div><img class="img" src="https://i.ibb.co/nMKdWZk/1615384272128.png"> </div>
    
</body>
</html>