<!DOCTYPE html>
<html>
<head>
    <title>feed</title>
</head>
<body>

    <div>
        <h1 class="posicaotitulo">Sobre nós</h1>
    </div>
    <div>
        <ul class="id">
            <li>
                <img class="imglogo" src="https://i.ibb.co/fn1Ks9G/1615403008507.png">
            </li>
            <li class="posicao1">
                <a routerLink="/home">FindPet</a>
            </li>
            <li><a routerLink="/ajuda">Ajuda</a>
                <li><a routerLink="/perfil">Perfil</a>
        </ul>
       
    <div class="polaroidd">
        <img class="talia" src="https://i.ibb.co/J3NNc68/DSC-8387-1.jpg" >
        <div class="container">
            
        <p class="posicaot">Talia Diniz Lira</p>
        </div>
      </div>
      
      <div class="polaroid">
        <img class="duda" src="https://i.ibb.co/JK9RzgW/IMG-3112-1-1.jpg">
        <div class="container">
            
        <p class="posicaod">Duda</p>
        </div>
      </div>
</div>
</body>
</html>