/*plano de fundo ajustado*/
body{
    background-color:  #ffefef;
    background-position: fixed;
    padding: 0;
    background-repeat: no-repeat;
    margin-top: -0.5%;
    margin-left: -0.3%;
    margin-right: -0.6%;
    min-height: 100vh;
    min-width: 100vh;
    border:0;
   
}
div p{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #615891;
}
.posicaot{
  position: fixed;
  transform: translate(235%, 410%);
}
.posicaod{
  position: fixed;
  top: 200%;
  right: 20%;
}

div h1 {
  top: 20%;
  left: 30%;
  right: 30%;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #6559a3;  
  position: fixed;
  transform: translate(25%, -110%);
}
/*linhas 16-43 ajusta a barra de navegação*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 239, 239);
  }
  .imglogo{
    width: 50px;
    height: 50px;
    padding: 0 5px;
  }
  .posicao1{
    float: left;
    display: block;
    padding: 10px 10px;
    left: 5%;
}
  /* posição botão do Findpet */
  .posicao2{
      float: left;
      display: block;
      color: #6559a3;
      text-align: center;
      padding: 16px 7px;
      text-decoration: none;
      font-size:large;
      font-family: Arial, Helvetica, sans-serif; 
      font-weight: bold;
  }

  .alinhamento:hover{
    background-color: #ffefef;
    color: #6559a3;
  }
  .id{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #6559a3;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*Mudar a cor dos botões da barra de navegação quando passar o mouse*/
  li a:hover {
    background-color: #6559a3;
    color: white;
  }
  
  .talia{
    /*altera o tamanho da imagem*/ 
    width: 250px;
    height: 250px;
    border-radius: 120px;
    position: fixed;
    top: 10%; 
    left: 25%;
    right: 30px;
}

.duda{
    /*altera o tamanho da imagem*/ 
    width: 250px;
    height: 250px;
    border-radius: 120px;
    position: fixed;
    top: 10%; 
    left: 25%;
    right: 30px;

}
/*ajusta o tamanho do polaroid de Duda*/
div.polaroid {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    transform: translate(70%, 50%);
    padding: 200px 25px;
        
 
  }
  /*ajusta o tamanho do polaroid de Talia*/
  div.polaroidd {
    width: 25%;
    
    padding: 200px 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    transform: translate(190%, 50%);
    position: absolute;
  }
  div.container {
    text-align: center;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
  }