!DOCTYPE html>
<html>
<head>
    <title>Sobre Nós</title>
    <!--link dos Icones-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

      <!--Link do responsivo-->
      <meta name="viewport" content="width=deivce-width, initial-scale=1">
      <!--Link do bootstrap-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

    <div>
        <ul class="id">
            <li><a routerLink="/home">FindPet</a></li>
        </ul>
        <div class="desenvolvedoras">
            <h3>Desenvolvedoras</h3>
            <hr>
        </div>
    <div class="polaroidd">
        <img class="talia" src="https://i.ibb.co/J3NNc68/DSC-8387-1.jpg">
   <div class="container">          
      <div> 
        <p class="posicaoT" >Talia Diniz Lira</p> 
      </div>
         <div class="infromações">
           <div class="iconeIFT">
            <span class="material-icons">school</span>
           </div>
         <div class="ifT">  
          <p >Instituto Federal de Pernambuco</p>
        </div>
        <div class="iconeemailT">
        <span class="material-icons"> email</span>
       </div>
    <div class="emailT">
        <a class="corEmail" href="mailto:taliadenizlira@gmail.com?subject=FindPet" title="">taliadenizlira@gmail.com</a></div>
    </div>
  </div>
      </div>
      <div class="polaroid">
        <img class="duda" src="https://i.ibb.co/JK9RzgW/IMG-3112-1-1.jpg">
        <div class="container">
        <div class="posicaoD">
          <p>Eduarda Ciriaco Manenti</p>
        </div>
       
        <div class="ifD">
          <p>Instituto Federal de Pernambuco</p>
        </div>
        <div class="iconeIFD">
            <span class="material-icons">school</span>
           </div>
        <div class="emailD">
          <a href="mailto:duhmanenti@gmail.com" title="" class="coremail">duhmanenti@gmail.com</a>
        </div>
        <div class="iconeemailD">
            <span class="material-icons"> email</span>
           </div>
        </div>
      </div>
    </div>
</body>
</html>
